body {
    background-color: #B2B7A6;
    color: #FFFFFF;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
    text-indent: 20px;
    text-align: justify;
}

img {
    width: 380px;
}

.destaque {
    color: #B2B7A6;
    background-color: #FFFFFF;
    font-weight: bold;
}

.container_3 .texto {
    padding: 10px;
}

.container_3 div {
    margin-bottom: 20px;
}

.container_3 .texto-full {
    width: 1150px;
    margin: 20px;
}

.titulo {
    text-align: center;
    font-weight: bold;
    padding: 1px;
    margin-top: 20px;
}
