body {
    background-color: white;
    color: black;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
}

img {
    width: 380px;
}

.destaque {
    color: black;
    background-color: gray;
    border-radius: 8px;
}

.container_3 .texto {
    padding: 10px;
}

.container_3 div {
    margin-bottom: 20px;
}

.titulo {
    background-color: gainsboro;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin-top: 20px;
}
