
@font-face {
    font-family: 'smart_and_sexyregular';
    src: url('fonte/smars___-webfont.woff2') format('woff2'),
         url('fonte/smars___-webfont.woff') format('woff'),
         url('fonte/smars___-webfont.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(15,15,29,1) 35%, rgba(15,15,29,1) 65%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(15,15,29,1) 35%, rgba(15,15,29,1) 65%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(15,15,29,1) 35%, rgba(15,15,29,1) 65%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(42,0,0,1) 35%, rgba(42,0,0,1) 65%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(42,0,0,1) 35%, rgba(42,0,0,1) 65%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(42,0,0,1) 35%, rgba(42,0,0,1) 65%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);  
}

body {
    color: #AAAAAA;
    /* font-family: 'smart_and_sexyregular';
    font-family: 'Raleway'; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: 'Lora';
}

header {
    text-align: center;
    padding-top: 50px;
}

video {
    color: #222242;
    width: 30%;
}

main {
    padding-top: 45px;
    margin: 0 10%;
    font-size: 18px;
    line-height: 1.2;
}

h2 {
    margin: 25px 0 5px 0px;
    padding: 5px 5px 10px 0px;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid red;
    border-radius: 3px;
    color: white;
}

.texto p {
    padding: 10px;
    text-align: justify;
}

.falas {
    font-weight: bolder;
    color: darkred;
}

div.polaroid {
    background-color: rgb(42, 0, 0);
    box-shadow: 0 4px 8px 0 #6e0000;
    margin-bottom: 15px;
    color: black;
    font-weight: bolder;
}
  
div.polaroid img {
    width: 100%;
    height: 189;
    opacity: 80%;
    transition: 1s;
}

div.polaroid img:hover {
    opacity: 100%;
}
  
div.container {
    text-align: center;
    padding: 10px 20px;
}

* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.responsive.posicao {
    margin-left: 10%;
    margin-right: 10%;
}

.posicao {
    opacity: 70%;
    transition: 1s;
}

.posicao:hover {
    opacity: 90%;
}

.pordosol {
    margin-left: auto;
    margin-right: auto;
    
    width: 155px;
    height: 100px;
}
  
.pordosol .polaroid img {
    width: 155px;
    height: 100px;
    opacity: 80%;
    transition: 1s;
}

footer {
    margin: 15px;
}

@media only screen and (max-width: 940px) {
    .responsive.posicao {
        width: 40%;
        margin: 0 5%;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      padding: 0 10px;
      margin: 6px 0;
    }

    .responsive.posicao {
        width: 49.99999%;
        padding: 0 10px;
        margin: 6px 0;
    }

    video {
        width: 80%;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }

    .responsive.posicao{
        width: 100%;
    }

    main {
        width: 80%;
        text-align: left;
    }
    
    video {
        width: 80%;
    }
}

.rodape {
    font-size: 12px;
    text-align: center;
    padding-top: 50px;
}

/* finalizacao */
