body {
    background-color: #B2B7A6;
    color: #FFFFFF;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
    text-indent: 20px;
    text-align: justify;
}

section {
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.titulo-principal {
    display: grid;
    text-align: center;
    align-items: center;
    font-weight: bold;
    min-height: 100vh;
}

img {
    width: 100%;
}

.destaque {
    color: #B2B7A6;
    background-color: #FFFFFF;
    font-weight: bold;
}

.container_3 .texto {
    padding: 10px;
}

.container_3 div {
    margin-bottom: 20px;
}

.descricao {
    width: 1150px;
    margin: 20px auto;
}

.borda {
    margin: 10px auto;
    width: 90%;
    border-bottom: 2px solid white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    padding: 1px;
    margin-top: 20px;
}

/* CSS dos botões */
.button-container {
    text-align: center;
    height: 20px;
}

.button-hidden {
    display: none !important;
    transition: all 2s;
}

.button {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #B2B7A6;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover, .button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button:hover {
    transform: translateY(-1px);  
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.chapter {
    display: block;
    opacity: 1;
}

.chapter-hidden {
    opacity: 0;
    transition: all 2s;
}


